In [1]:
print("I'm writing in the input field and this will show in the output field")

I'm writing in the input field and this will show in the output field

In [2]:
print("The numbers next to the cells show the order in which they ran")

The numbers next to the cells show the order in which they ran

In [4]:
print("If there is no number, the cell hasn't run")

If there is no number, the cell hasn't run

In [3]:
print("...In the order they are presented")

...In the order they are presented

In [5]:
print("The cells don't have to run...")

The cells don't have to run...

This is a markdown cell, put titles, notes here

### You can use html like formatting here
For example <br> line breaks

In [ ]:
# Or just comment lines, so they won't be executed

# Very big header
## Big header
### Smaller header
#### Etc

Make bulletpoints
- first point
- second point 

Make numbered bulletpoints
1. first point
2. second point

Show picture
<img src="python_logo1.png" width="20%" height="20%">

### Variables 
##### variables are loaded into memory while the notebook runs. If you stop the notebook, they will be lost

In [2]:
a = 3

In [5]:
a

3

In [8]:
a = a + 1

Read the error messages, especially the last line

In [9]:
b

NameError: name 'b' is not defined

### Printing variables

In [10]:
number_var = 2
string_var = "2"

In [11]:
number_var, string_var

(2, '2')

In [12]:
type(number_var), type(string_var)

(int, str)

In [13]:
print("The value of the string_var is " + string_var)

The value of the string_var is 2

In [14]:
print("The value of the number_var is " + number_var)

TypeError: can only concatenate str (not "int") to str

In [15]:
number_var_converted_to_string = str(number_var)

In [16]:
number_var_converted_to_string, type(number_var_converted_to_string)

('2', str)

In [17]:
print("The value of the number_var is " + number_var_converted_to_string)

The value of the number_var is 2

In [18]:
print("The value of the number_var is " + str(number_var))

The value of the number_var is 2

In [19]:
print("The value of the number_var is {}".format(number_var))

The value of the number_var is 2

#### int vs float

In [20]:
num_var = 3

In [21]:
num_var, type(num_var)

(3, int)

In [22]:
num_var = 3.5

In [23]:
num_var, type(num_var)

(3.5, float)

In [24]:
new_int_variable = int(num_var)
new_int_variable

3

In [25]:
num_var

3.5

In [26]:
num_var = int(num_var)
num_var

3

#### boolean
upper case initials

In [27]:
true_var = True

In [28]:
true_var, type(true_var)

(True, bool)

In [29]:
false_var = false

NameError: name 'false' is not defined

In [32]:
false_var = False

In [31]:
false_var

False

In [33]:
a = 1 == 1
a

True

In [34]:
b = 1 == 2
b

False

In [35]:
a and b

False

In [36]:
a or b

True

In [37]:
not a

False

In [38]:
not (a and b)

True

In [39]:
a == 1 and b == 0

True

In [40]:
False == 0

True

In [41]:
a + b

1

In [42]:
a + a + a

3

### Basic math

In [43]:
1 + 2

3

In [44]:
a = 1
b = 2
a + b

3

In [45]:
c = a + b
c

3

#### Re-defining varibales

In [46]:
my_num = 3
my_num

3

In [47]:
my_num *= 4
my_num

12

In [48]:
my_num +=1
my_num

13

In [49]:
my_num //=2
my_num

6

### Notebook commands:
- shif+Enter = run cell
- escape a = instert cell above
- escape b = insert cell below
- escape m = change the cell to markdown cell
- dd = deletes the cell
- ! before command = execute as bash command

### You can also change the value of your variable on the fly 

x += 1          # add then assign value

x -= 1          # subtract then assign value

x *= 2          # multiply then assign value

x /= 3          # divide then assign value

x // = 5        # floor divide then assign value

x **= 2         # exponentiate then assign value

x %= 3          # return remainder then assign value

### 1 - exercise

Let's bake some cookies! You have 200 forints and the price of one egg is 30 forints. To make one batch of cookies you need 2 eggs. <br>
Create the variables used in the print statement and run the cell.

In [10]:
# Your code here
egg_needed = 2
egg_price = 30
my_money = 200
print("For one batch of cookies {} eggs are needed. \
The price of one egg is {} forint and I have {} forints".format(egg_needed,egg_price, my_money))

For one batch of cookies 2 eggs are needed. The price of one egg is 30 forint and I have 200 forints

### 1 - check yourself

The output of the cell should be: <br>
For one batch of cookies 2 eggs are needed. The price of one egg is 30 forint and I have 200 forints

### 2 - exercise
Create the variables used in the print statements. When defining them use the variables from the previous task. <br>
You can only buy integer number of eggs, so make sure that the type of these new variabels are integer!

In [11]:
# Your code here
num_eggs = my_money//egg_price
twice_egg_needed = 2 * egg_needed
num_eggs_remaining = num_eggs - twice_egg_needed
print("I can buy {} eggs.".format(num_eggs))
print("To make two batches I need {} eggs, but I'll still have {} egg remaining".format(twice_egg_needed, 
                                                                                        num_eggs_remaining))

I can buy 6 eggs.
To make two batches I need 4 eggs, but I'll still have 2 egg remaining

### 2 - check yourself
The output of the cell should be: <br>
I can buy 6 eggs. <br>
To make two batches I need 4 eggs, but I'll still have 2 egg remaining

### 3 - exercise

Answer the question by changing the same variable called egg_num!

- I start with 5 eggs.
- Then I buy 2 more.
- But then I drop 3 accidentally.
- So I go to the store and buy 3 times the amount I have after the accident.
- Then we divide all the eggs equally with my sister.
- How much eggs do I have left if I make as many muffins as I can if 3 eggs are needed for each muffin?

In [16]:
egg_num = 5
egg_num += 2 
egg_num -= 3
egg_num += 3*egg_num
egg_num /= 2
egg_num %= 3
egg_num

2.0

### 3 - check yourself

In [17]:
if egg_num == 2:
    print('Your answer is correct')
else:
    print('Your anser is NOT correct')

Your answer is correct

### 4 - exercise

Guess whether the boolean expressions are True or False and then run the cell below to see if you were right

In [20]:
# Assign your guess to these variables
# 1. True and True 
myguess_1 = True

# 2. False and True
myguess_2 = False

# 3. 1 == 1 and 2 == 1 
myguess_3 = False

# 4. "test" == "test"
myguess_4 = True

# 5. 1 != 1.0
myguess_5 = False

# 6. 1 == '1'
myguess_6 = False

# 7. "myname" == "MyName"
myguess_7 = False

# 8. 'one' != 1
myguess_8 = True

# 9. 1 == 1 or 2 != 1 
myguess_9 = True

# 10. True and 1 == 1
myguess_10 = True

# 11. False and 0 != 0
myguess_11 = False

# 12. True or 1 == 1
myguess_12 = True

# 13. 1 != 0 and 2 == 1 
myguess_13 = False

# 14. not (True and False)
myguess_14 = True

# 15. not (not 'x' == 'x')
myguess_15 = True

# 16. not (1 != 10 or 3 == 4) 
myguess_16 = False

# 17. not ("python" == "python" and "MotherOfDragons" == "Daenerys")
myguess_17 = True

# 18. 1 == 1 and not ("one" == 1 or 1 == 0)
myguess_18 = True

# 19. "egg" == "bacon" and not (3 == 4 or 3 == 3)
myguess_19 = False

### 4 - Check yourself

In [21]:
# Run this cell to see if you were right

answer_1 = True and True
answer_2 = False and True
answer_3 = 1 == 1 and 2 == 1
answer_4 = "test" == "test"
answer_5 = 1 != 1.0
answer_6 = 1 == '1'
answer_7 = "myname" == "MyName"
answer_8 = 'one' != 1
answer_9 = 1 == 1 or 2 != 1
answer_10 = True and 1 == 1
answer_11 = False and 0 != 0
answer_12 = True or 1 == 1
answer_13 = 1 != 0 and 2 == 1
answer_14 = not (True and False)
answer_15 = not (not 'x' == 'x')
answer_16 = not (1 != 10 or 3 == 4)
answer_17 = not ("python" == "python" and "MotherOfDragons" == "Daenerys")
answer_18 = 1 == 1 and not ("one" == 1 or 1 == 0)
answer_19 = "egg" == "bacon" and not (3 == 4 or 3 == 3)

for i in range(1,20):
    if eval('myguess_' + str(i)) == eval('answer_' + str(i)):
        correctness = ''
    else:
        correctness = 'NOT'
        
    print('Your guess for statement {} was {} correct'.format(i, correctness))

Your guess for statement 1 was  correct
Your guess for statement 2 was  correct
Your guess for statement 3 was  correct
Your guess for statement 4 was  correct
Your guess for statement 5 was  correct
Your guess for statement 6 was  correct
Your guess for statement 7 was  correct
Your guess for statement 8 was  correct
Your guess for statement 9 was  correct
Your guess for statement 10 was  correct
Your guess for statement 11 was  correct
Your guess for statement 12 was  correct
Your guess for statement 13 was  correct
Your guess for statement 14 was  correct
Your guess for statement 15 was  correct
Your guess for statement 16 was  correct
Your guess for statement 17 was  correct
Your guess for statement 18 was  correct
Your guess for statement 19 was  correct